<%- include('partials/header'); -%>

<div id="jobDetails">
    <h1> <%=job.jobTitle%> </h1>
    <p><%=job.webSite%></p>
    <p><%=job.name%></p>
    <p><%=job.email%></p>
    <p><%=job.phone%></p>
    <p><%=job.address%></p>
    <p><%=job.origin%></p>
    <p><%=job.status%></p>
    <p><%=job.comments%></p>
</div>

